[Unit]
Description=ProtonVPN Auto-Start
Wants=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/protonvpn c -f
Environment=PVPN_WAIT=150
Environment=PVPN_DEBUG=1
Environment=SUDO_USER=thomas
Restart=always

[Install]
WantedBy=multi-user.target
