[Unit]
Description=ProtonVPN Auto-Start
After=network.target

[Service]
Type=forking
User=root
ExecStart=/usr/bin/pvpn -f
ExecReload=/usr/bin/pvpn -d && /usr/bin/pvpn -f
ExecStop=/usr/bin/pvpn -d
Restart=always

[Install]
WantedBy=multi-user.target
